/**
 * flex-css docs
 */

@import 'variables.less';

.container {
	max-width: 940px;
}

hr {
	margin: 2em 0 1em;
}

.example-box {
	border: 1px solid @base-color;
	border-radius: @border-radius;
	padding: 1em;
}

.grid.example-grid {
	/*position: relative;
	&:after {
		position: absolute;
		content: '.grid';
		bottom: .5em; right: .5em;
	}
	.cell:after {
		position: absolute;
		top: .5em; left: .5em;
	}*/

	.cell {
		position: relative;
		background: rgba(0,0,0,.1);
		border-radius: @border-radius;
		padding: .5em;
		min-height: 1em;

		/*&:after {
			content: '.cell';
		}
		&.one-half:after {
			content: '.cell.one-half';
		}
		&.one-third:after {
			content: '.cell.one-third';
		}
		&.one-fourth:after {
			content: '.cell.one-fourth';
		}
		&.one-fifth:after {
			content: '.cell.one-fifth';
		}*/
	}
}
