// variables.less
// All variables that can affect multiple components should be placed here.

// Colors
@base-color: #ccc;
@base-hover: lighten(@base-color, 10%);
@base-active: darken(@base-color, 2%);
@base-border: @base-color;
@base-border-hover: darken(@base-color, 10%);

@primary-color: #6184DB;
@primary-hover: lighten(@primary-color, 2%);
@primary-active: darken(@primary-color, 10%);
@primary-border: darken(@primary-color, 20%);
@primary-border-hover: darken(@primary-color, 30%);

// Typography
@base-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-size: 14px;
@font-size-input: 12px;
@heading-font: @base-font;
@heading-weight: 500;

// Layout
@max-width: 1400px;
@desktop-width: 768px;

// Controls
@border-radius: 3px;
